<div class="page">
    <h1 class="title">Bienvenue sur le premier réseau social de plantes</h1>
    
    <section class="home">
        <div class="all-left">
            <h2 class="title">Les derniers posts</h2>
            
            <div id="all-pub" class="all-pub">
            <div id="content-main">--</div>   
            {{> publication/navListPublication}}        
            </div>
           
            <a href="/publication/list-all">            
                <div class="liens">
                   > Voir tous les posts
                </div>
                </a>
            
            <div class="create-publication">
                <button class="button-publication" onClick="preparePublication()" id="button-publication-initiate">Poster !</button>

                <div id="message-not" class="invisi">
                    <h3>You are not connected, create an account or connect yourself to be able to post publications</h3>
                </div>                  

                <div id="form-create-display" class="invisi">                  
                    {{#if msg}}
                    <p class="msg {{msg.status}}">{{msg.txt}}</p>
                    {{/if}}
                    <h3 class="form-title">Edit your new publication and add it to the collection</h3>
                    <div>
                      <label>Title</label>
                      <input id="tag_name_input" name="title" type="text" class="input-text input" placeholder="ccc"
                        value="{{label}}">
                    </div>
                    <div>
                      <label>Description</label>
                        <textarea class="input" id="description" type="text" name="description">
                            {{publication.description}}
                        </textarea>
                    </div>
                    <div class="row">
                        <label for="actif">yes</label>
                        <input id="actif" type="radio" name="actif" value="yes">
                        <label for="not-actif">no</label>
                        <input id="not-actif" type="radio" name="actif" value="no" checked>
                    </div>
                    <label for="label">Plant</label>
                    <select name="plant" id="plant" class="input">
                        {{#each plants}}
                            <option value="{{this._id}}">{{this.vernaculaire}}</option>
                        {{/each}}
                    </select>

                    <div>
                        <label for="sneacker-name" class="label-name label">Image</label>
                        <input id="input-file" type="file" name="firstImage">
                    </div>
                    <button class="button-primary add-tag-btn" onClick="createPublication()"  >Add to publication list</button>
                </div>

            </div>

        </div>

        <div class="all-right">
            <div class="edito">
                <h4>Edito</h4>
                <p>Là je raconte ma vie de boomer pour le bonheur de Paul,
                Là je raconte ma vie de boomer pour le bonheur de Paul, 
                Là je raconte ma vie de boomer pour le bonheur de Paul</p>
            </div>
            <div class="all-plants">
                <h2 class="title">Plant</h2>
                <div class="plant-home">
                    {{> plant/navListPlantHome}}
                </div>
                <div class="toutes">
                    <a href="/plant/list-all"><button class="button-publication">Toutes</button></a>

                    <a href="/plant/create-plant"><button class="button-publication">Create</a>
                </div>      
            </div>
            <div class="all-families">
                <h2 class="title">Family</h2>
                <div class="plant-home">
                   {{> family/navListFamilyHome}}
                </div>
                <div class="toutes">
                   <a href="/family/list-all"><button class="button-publication">Toutes</button></a>

                   <a href="/family/create-family"><button class="button-publication">Create</button></a>
                </div>
            </div>        
        </div>
    </section>
