one publication

Puis liste des publications
{{publication._id}}
{{publication.title}}
{{publication.description}}
{{publication.dateCreation}}
{{publication.lastModificationDate}}
{{publication.actif}}

<a href="/publication/update/{{publication._id}}">Update this publication</a> 

{{> publication/navListPublication}}
