
      {{#each publications}}
        <div class="pub1">
            <div  class="pub1A">    
                 {{this.title}} <span>{{this.creationDate}}</span>
            </div>    
            <div  class="pub1B">    
                {{this.description}}
            </div>    
            <div  class="pub1C">    
                Plante associée : {{this.plant.vernaculaire}}
            </div>
            <a href="/publication/display-one/{{this._id}}"><div  class="pub1D">Voir toute cette publication</div><a>            
        </div>    
      
      {{/each}}
