<div class="block">
 List all Plants
 </div>

      {{#each plants}}
          <a href="/plant/display-one/{{this._id}}">
            {{this.vernaculaire}}
            --
            {{this.family.label}}
            --
            {{this.autreNom}}
            --
            {{this.cultivar}}
           </a>
           <a href="/publication/display-all-publication-one-plant/{{this._id}}">Publications de cette plante</a>

      {{/each}}

  

