    <div class="block">
        <span>styles</span>
        <a class="link" href="/family/display-one" title="manage styles">
            <i class="fas fa-list-ul"></i>List all Plants
        </a>
    </div>

    <ul>
      {{#each plants}}
      <li class="tag-list-item">
          <a href="/plant/display-one/{{this._id}}">
            {{this.vernaculaire}}
            --
            {{this.family.label}}
            --
            {{this.autreNom}}
            --
            {{this.cultivar}}

           </a>
      </li>
      {{/each}}
    </ul>

  

