    <div class="block">
 List all Plants
    </div>

    <ul>
      {{#each plants}}
          <a href="/plant/display-one/{{this._id}}">
      <li class="tag-list-item">
            {{this.vernaculaire}}
            --
            {{this.family.label}}
            --
            {{this.autreNom}}
            --
            {{this.cultivar}}
      </li>
           </a>
      {{/each}}
    </ul>

  

