<div class="page">
    <h1 class="title">Plants</h1>
    <table style="width:100%;">
        <thead>
            <th>Id</th>
            <th>Family</th>
            <th>Cultivar</th>
            <th>Vernaculaire</th>
            <th>Other Informations</th>
            <th>FirstImage</th>
            <th>Creation Date</th>
            <th>Last Modification</th>
            <th>Actif</th>
            <th>Publication</th>
        </thead>
        <tbody>
            {{#unless plants}}
            <tr>
                <td colspan="10">sorry, no plants registered yet :/</td>
            </tr>
            {{/unless}}
            {{#each plants}}
            
            <tr>
                <td><a href="/plant/display-one/{{this._id}}">View</a></td>
                <td>{{this.family.label}}</td>
                <td>{{this.cultivar}}</td>
                <td>{{this.vernaculaire}}</td>
                <td>{{this.otherInformations}}</td>
                <td><img src="{{this.firstImage}}" width="150px"></td>
                <td>{{this.creationDate}}</td>
                <td><a href="/plant/update/{{this._id}}">{{this.lastModificationDate}}</a></td>
                <td>{{this.actif}}</td>                
                <td><a href="/publication/display-all-publication-one-plant/{{this._id}}">Publications</a></td>
            </tr>
            </a>
            
            {{/each}}
        </tbody>
    </table>
</div>

  

